:root{
  --primary: rgba(68,142,204,1);
  --secondary:#8893a6;
  --dark:#0c0e22;
  --light:#e6f0f0;
}
img{
  max-width: 240px;
  max-height: 240px;
}

.home{
  height: 100%;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
}
.grid {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 768px){
  .home{
    grid-template-columns: 1fr;
    grid-gap: 2%;
  }
}